.product {

   padding: 6rem;

   @include breakpoint(small only) {
      padding: 0.7rem;
      text-align: center;
   }

   p {
      padding: 1rem;
   }

   .button {
      margin-left: 1rem;
      border-radius: 0.2rem;
   }
}
